.districts{
	border: 0;
	margin-top: 0;
	height: 250px;
	overflow: hidden;
	position: relative;
	background-color: #2c3e50;
}

body{
	background: #2c3e50;
}

.districts table{
	color: black;
}
.dropdown{
	margin-bottom: 0px;
	position: relative;
	top: 40px;
	border-radius: 4px;
	background-color: #2c3e50;
	height: 100px;
	width: 100%;
}

.btn{
	width: 250px;
}

.missdet{
	padding: 10px;
	position: relative;
	top: 200px;
	left: 700px;
	border-radius: 4px;
	background-color: #2c3e50;
	width: 700px;
}

.missdet ul{

	width: 500px;
	list-style: none;
}

.missdet input{
	font-size: 17px;
	border-radius: 3px;
	width: 400px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 15px;
	border:0px;
}

.missdet input:hover{
	border-bottom: 3px solid #d35400;
}

.sub{
	color: #ffffff;
	background: #d35400;
}


#tf-footer{
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
}


.dropbtn , .dropdown ul li{
	height: 40px;
	font-size: 1.5em;
}

tr{
	height: 40px;
}
