body{
	font-family: sans-serif;
	background-color: #2c3e50;
}

.pinloc{
	height: 400px;
}

.pinloc h1{
	text-align: center;
	color: #d35400;
}

.pinloc h2{
	text-align: center;
}

.pinloc img{
	max-width: 100%;
  	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	height: 300px;
	position: relative;
	left: 38%;
}

.pinloc img:hover{
	 -moz-transform: scale(1.1);
     -webkit-transform: scale(1.1);
      transform: scale(1.1);
}



.whole-container{
	margin-top: 100px;
}

.pinloc, .current, .table{
	width: 48%;
	float: left;
	margin: 10px;
	background-color: #ecf0f1;
	border-radius: 10px;
	box-shadow: 2px 2px 2px black;
	padding: 20px;
}

.table{
	height: 300px;
}

.current{
	background-color: red;
	border-radius: 10px;
	height: 720px;
}


.slider img{
	position: absolute;
	height: 500px;
	width: 550px;
}

.slider img:nth-of-type(1){
-webkit-animation: fadeInOut 8s linear 6s infinite;
}
.slider img:nth-of-type(2){
-webkit-animation: fadeInOut 8s linear 4s infinite;
 }
.slider img:nth-of-type(3){
-webkit-animation: fadeInOut 8s linear 2s infinite;
}
.slider img:nth-of-type(4){
-webkit-animation: fadeInOut 8s linear infinite;
}

   /*Keyframes - WebKit only ------------------------------------------*/

 @-webkit-keyframes fadeInOut{
0% { opacity:1; }
17% { opacity:1; }
25% { opacity:0; }
92% { opacity:0; }
100% { opacity:1; }

}

.current{
	margin-top: 10px;
	background-color: #ecf0f1;
}

.info{
	position: relative;
	top: 320px;
	left: 550px;
	width: 400px;
}

.missing{
	height: 50px;
	width: 200px;
}

.info li{
	margin-left: 0;
	padding: 2px;
	font-size: 22px;
	font-weight: bold;
}

.info li a{
	color: #7f8c8d;
	text-decoration: none;
}

.info li a:hover{
	color:#34495e;
}


.missing {
	margin-top: 20px;
	background: #d35400;
    border-color: transparent;
    border-radius: 2px;
    border-width: 2px;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 600;
}

table a{
	color: black;
}

.missing:hover{
	color: #bdc3c7;
}

table{
	font-size: 1.5em;
	width: 850px;
}

#tf-footer{
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 50px;
}



/* ******************************
******* Modal Section ***********
***********************************/

.location_modal{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    height: 25vh;
    width: 20vw;
    background-color: #ecf0f1;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    color: black;
    padding: 20px;
    z-index: 1;
    transition: all 300ms;


    /*default location*/
    top: 150%;
}

form{
    width: 260px;
}


.modal_overlay{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: black;
    z-index: 0;
    transition: all 500ms;

    opacity: 0;
    z-index: -2;
}

.modal_submit{
    width: 10vw;
    background-color: #d35400;
    transform: translateX(30px);
    color: white;
}

body{
    overflow: hidden;
}



.table{
	z-index: 10;
}

.btn1{
	position: absolute;
	right: 50px;
	top: 10px;
}
