
body{
  height: 100vh;
  width: 100vw;
  opacity: 0;
  overflow-x: hidden;
}



.welcome{
  font-family: Roboto;
  font-size: 1.8em;
  color: grey;
  margin-bottom: 20px;
}

.welcome span span{
  color: #278489;
}

.head{
  background: linear-gradient(135deg, #7f8c8d, #7f8c8d 20%, #34495e);
  height: 120px;
  position: relative;
  padding-left: 20px;
  padding-top: 10px;
}

.form-box{

  background-color: white;
  min-width: 350px;

}

.tab-select{
  position: absolute;
  bottom: 0px;
  right: 0px !important;
  min-width: 200px;
}

.input-field i{
  color: #278489;
}

.form-row{
  margin-bottom: 0px;
}

.logo{
  height: 100px;
}

#login{
  transition: all 400ms ease-in-out;
  position: relative;
  left: 0px;
  right: 0px;
}

.lower{
  position: relative;
}

#register{
  transition: all 300ms ease-in-out;
  position: absolute;
  left: 0px;
  right: 0px;
}




.container, .form-box{
  min-width: 350px;
  height: 450px;
  position: relative;
  transition: all 300ms ease-in-out;
}

.tabs{
  background-color: transparent;
}

.tabs .tab a{
  transition: all 300ms ease-in-out;
}

.tabs .tab a, .tabs .tab a:hover{
  color: white;
  transition: color 300ms;
}

.tabs .tab a.active{
  color: #f1c40f;
}

button{
  background-color: #d35400 !important;
}

.input-field{
  /*min-width: 200px;*/
}
