.whole-container{
    height: 800px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}

.map_section{
    height: 100%;
}

#map {
    height: 100%;
    width: 40vw;
    /*display: inline;*/
}

#tf-footer{
    height: 50px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.notes_section{
    height: 80%;
    width: 40vw;
    /*display: inline-block;*/

    color: #34495e;
}

.note_heading{
    height: 50px;
    font-size: 1.5em;
    font-family: monospace;
}

.note{
    border-radius: 15px;
    box-shadow: 0px 0px 5px grey;
    transition: all 300ms;
    margin-bottom: 5px;
    height: 100px;
    width: 100%;
    padding: 10px;
}

.note span{
    font-size: 2em;
    padding: 10px;
}

.note:hover{
    box-shadow: 0px 0px 10px 2px grey;
}


.location_updater{
    position: absolute;
    bottom: 15vh;
    left: 5vw;
    height: 10vh;
    width: 30vw;
    border-radius: 15px;
    padding: 20px;
    font-size: 3em;
    box-shadow: 0px 0px 5px grey;
    color: #e74c3c;
    transition: all 300ms;

    background-color: #ecf0f1;
}

.location_updater img{
    margin-left: 20px;
    height: 50px;
}

.location_updater:hover{
    color: white;
    background-color: #c0392b;
}


/* ******************************
******* Modal Section ***********
***********************************/

.location_modal{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    height: 25vh;
    width: 20vw;
    background-color: #ecf0f1;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    color: black;
    padding: 20px;
    z-index: 1;
    transition: all 300ms;


    /*default location*/
    top: 150%;
}

form{
    width: 260px;
}


.modal_overlay{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: black;
    z-index: 0;
    transition: all 500ms;

    opacity: 0;
    z-index: -2;
}

.modal_submit{
    width: 10vw;
    background-color: #d35400;
    transform: translateX(30px);
    color: white;
}

body{
    overflow: hidden;
}
