

.whole-container{
    display: flex;
    margin-top: 200px;
    position: relative;
    top: 800px;
}

.rss_feed{
    width: 1200px;
    position: absolute;
    top: 100px;
    left: 30px;
}


#tf-footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
}

.twitter_feed{
    position: absolute;
    right: 0px;
    top: 100px;
    right: 40px;
}
