/********************************
****** Catalogue Section ********
*********************************/

.catalogue{
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 5px;
  right: 5px;
  height: 80vh;
  padding-left: 5px;
  z-index: 0;
  color: black;

}

.catalogue .book-card{
  height: 200px;
  margin: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 0px grey;
  transition: 800ms ease-in-out, box-shadow 300ms ease-in-out;
  cursor: pointer;
  border: 1px solid #ecf0f1;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1em;
  padding-top: 20px;


}

.book-card .book-cover{
  border-radius: 10px;
  width: 150px;
}

.book-card .title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

.title .name{
  font-size: 1.8em;
  text-align: center;
  font-family: Lobster;
  margin-bottom: 20px;
}

.title .author{
  font-size: 1em;
  font-family: Lato;
  font-weight: bold;
  text-align: center;
}

.book-card .summary{
  width: 350px;
  padding: 20px;
  font-family: Lato;
  font-size: 1em;
}

.book-card .no-of-books{
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.4em;
}

.no-of-books .number{
  font-weight: bold;
  font-size: 1.6em;
}

.book-card:hover{
  box-shadow: 0px 0px 10px grey;
}


/******************************************************/

#tf-footer{
    height: 50px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
